ul.results {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}
body{
    background-color: #005bac;
    color: #ffcc00;
}

li.result-item {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

li.result-item:nth-child(even) {
    background-color: #f7f7f7;
}


.line-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: #005bac;
    text-transform: uppercase;
    padding: 5px;
    background-color: #ffd700;
    border-radius: 5px;
    margin-right: 10px;
}

.schedule-time {
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
}
button{
    background-color: yellow;
}


.schedule-icon {
    font-size: 1.5rem;
    color: #ffd700;
    margin-right: 10px;
}

li.result-item .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

